/* Tela Index */

#area-principal {
	margin-bottom: 100px;
}

#menu {
	float: right;
	margin: auto;
	padding: 5px;
}

.img-logo {
	margin: 50px 300px -10px;
}

.img-first {
	margin: 0px 300px;
	margin-bottom: 0 0 1100px;
}

p {
	width: 850px;
	margin: 7px 305px ;
}

#lei {
	margin: 0 600px;
}

/* Tela quem-somos */

#parte-superior {
	padding: 50px;
}

#menu-b {
	float: right;
}

.img-a {
	margin: 0 300px;
	padding: 10px;
}

.img-b {
	margin: 0 300px;
}

.lei-2 {
	margin: -40px 600px;
}

/* Contato */

#menu-c {
	float: right;
}

#parte-sup {
	padding: 120px;
}

.img-ct {
	margin: 0 210px;
}

.img-ct2 {
	margin: 0 210px;
}

.texto-c {
	margin: 0 220px;
}

.rodape {
	margin: -90px 600px;
}





















